@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.main-health {
  position: relative;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #0f1146;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.logo {
  width: 10%;
}

#headerhealth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbarhealth {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ham {
  display: none;
}

#navbarhealth li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbarhealth li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbarhealth li a:hover,
#navbarhealth li a.active {
  color: #088178;
}

#navbarhealth li a.active::after,
#navbarhealth li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(92 91 173 / 99%);
  height: 100%;
  width: 80%;
  z-index: 453;
}

#mobile {
  display: none;
  align-items: center;
}

#hero {
  background-image: url("../healthfitnessimages/mainbackground1.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #3a126a;
}
#hero button {
  background-color: rgb(184, 82, 193);
  border-radius: 30px;
  border-color: rgb(159, 138, 171);
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box {
  width: 100px;
  text-align: center;
  padding: 10px 0px 0px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box h6 {
  display: inline-block;
  padding: 9px 5px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  margin: 5px 0px;
}

#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 21%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: centre;
  background-image: url("images/bannnnn333.jpg");
  background-repeat: no-repeat;
  background-position: 55% 5;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border: none;
  height: 50px;
}

.normal {
  margin: 0px 2px;
  padding: 10px;
  border-radius: 4px;
}

.section-p1 .col img {
  position: relative;
  right: 16.5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer logo1 {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install img {
  margin: 10px 0 15px 0;
}

.section-p12 {
  padding: 40px 80px 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: block;
}

#m-navbarhealth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  list-style: none;
  flex-direction: column;
  position: fixed;
  margin-top: 100px;
  font-size: 30px;
}
#m-navbarhealth li {
  padding: 6px;
  text-decoration: none;
}
#m-navbarhealth li a {
  text-decoration: none;
  color: white;
}

/* media queryyyyy */
@media (max-width: 799px) {
  #navbarhealth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }
  #navbarhealth li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
}

/* mobile ka maa */

@media (max-width: 480px) {
  #headerhealth {
    padding: 10px 10px;
  }
  #headerhealth a img {
    width: 65px;
  }

  #navbarhealth {
    display: none;
  }
  #ham {
    display: block;
  }

  .section-p12 {
    padding: 0;
    margin: 15px;
  }

  #newsletter input {
    width: 1000px;
  }
}
