body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(0, 0, 0); */
}

.maindashboardscreen {
  display: flex;
  color: white;
}

.sidebardashboard {
  width: 19%;
  /* border: 2px solid red; */
  position: fixed;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(22, 22, 32);
}
.logodashboard {
  background-color: white;
  padding: 35px 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logodashboard img {
  width: 40px;
}
.logodashboard h2 {
  font-size: 20px;
}

.optiondashboard {
  display: flex;
  flex-direction: column;
}
.optiondashboard a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.optiondashboard a img {
  width: 20px;
  margin-right: 5px;
}

.optiondashboard > a:first-child {
  background-color: whitesmoke;
  color: black;
}
.optiondashboard h2 {
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
}

.dashboard {
  width: 80%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

.dashboard .detail {
  padding: 10px 32px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 0;
  background-color: rgb(22, 22, 32);
}

.searchbar div img {
  width: 30px;
}
.searchdash img {
  margin-right: 10px;
}
.searchdash {
  width: 1050px;
  display: flex;
  padding: 10px;
  align-items: center;
  margin-right: 10px;
}
.searchdash input {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  height: 50px;
}
.notify {
  border-right: 1px solid white;
  padding-right: 5px;
}

.detail {
  line-height: 0;
}

#clinetname {
  color: white;
}

.name p {
  color: white;
  margin: 0;
}

#appointment {
  font-size: 20px;
  color: white;
  letter-spacing: 0.2px;
}

.maindashboard {
  /* width: 99%; */
  height: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: 4px;
  margin-top: 10px;
  /* padding: 10px; */
}

.maindashboard > div {
  background-color: rgb(22, 22, 32);
  border-radius: 10px;
  /* border: 2px solid gold; */
  /* width: 100px; */
  /* height: 100px; */
}

.item1,
.item2,
.item3,
.item6 {
  overflow: hidden;
}

.item4 {
  /* height: 100vh; */
  width: 100%;
  margin-right: 20px;
}
.item5 {
  overflow: hidden;
}

.upcomming {
  font-size: 12px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-right: 10px; */
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 217, 0, 0.444);
  border-radius: 10px;
  margin-bottom: 10px;
}

.prof {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
  padding: 5px;
}
.prof img {
  width: 40px;
  background-color: white;
  margin-right: 5px;
  border-radius: 50%;
  padding: 5px;
}

.date {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .maindashboard > div {
    width: 100%;
  }
}
